USE [master]
GO
/****** Object:  Database [elibraryDB]    Script Date: 14/04/2026 14:37:50 ******/
CREATE DATABASE [elibraryDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'elibraryDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\elibraryDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'elibraryDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\elibraryDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [elibraryDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [elibraryDB]
GO
/****** Object:  Table [dbo].[admin_login_tbl]    Script Date: 14/04/2026 14:37:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[admin_login_tbl](
	[username] [nvarchar](50) NULL,
	[password] [nvarchar](50) NULL,
	[full_name] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[author_master_tbl]    Script Date: 14/04/2026 14:37:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[author_master_tbl](
	[auther_id] [nvarchar](20) NOT NULL,
	[author_name] [nvarchar](20) NULL,
 CONSTRAINT [PK_author_master_tbl] PRIMARY KEY CLUSTERED 
(
	[auther_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[book_issue_tbl]    Script Date: 14/04/2026 14:37:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[book_issue_tbl](
	[member_id] [nvarchar](50) NULL,
	[member_name] [nvarchar](50) NULL,
	[book_id] [nvarchar](50) NULL,
	[book_name] [nvarchar](max) NULL,
	[issue_date] [nvarchar](50) NULL,
	[due_date] [nvarchar](50) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[book_master_tbl]    Script Date: 14/04/2026 14:37:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[book_master_tbl](
	[book_id] [nchar](10) NOT NULL,
	[book_name] [nvarchar](max) NULL,
	[genre] [nvarchar](max) NULL,
	[author_name] [nvarchar](max) NULL,
	[publisher_name] [nvarchar](max) NULL,
	[publisher_date] [nvarchar](50) NULL,
	[language] [nvarchar](18) NULL,
	[edition] [nvarchar](50) NULL,
	[book_cost] [nchar](10) NULL,
	[no_of_pages] [nchar](10) NULL,
	[book_description] [nvarchar](max) NULL,
	[actual_stock] [nchar](10) NULL,
	[current_stock] [nchar](10) NULL,
	[book_img_link] [nvarchar](50) NULL,
 CONSTRAINT [PK_book_master_tbl] PRIMARY KEY CLUSTERED 
(
	[book_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[member_master_tbl]    Script Date: 14/04/2026 14:37:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[member_master_tbl](
	[full_name] [nvarchar](50) NULL,
	[dob] [nvarchar](50) NULL,
	[contanct_no] [nvarchar](50) NULL,
	[email] [nvarchar](50) NULL,
	[state] [nvarchar](50) NULL,
	[city] [nvarchar](50) NULL,
	[pincode] [nvarchar](50) NULL,
	[full_address] [nvarchar](50) NULL,
	[member_id] [nvarchar](50) NOT NULL,
	[password] [nvarchar](50) NULL,
	[account_status] [nvarchar](50) NULL,
 CONSTRAINT [PK_member_master_tbl] PRIMARY KEY CLUSTERED 
(
	[member_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[publisher_master_tbl]    Script Date: 14/04/2026 14:37:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[publisher_master_tbl](
	[publisher_id] [nchar](10) NOT NULL,
	[publisher_name] [nvarchar](max) NULL,
 CONSTRAINT [PK_publisher_master_tbl] PRIMARY KEY CLUSTERED 
(
	[publisher_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[admin_login_tbl] ([username], [password], [full_name]) VALUES (N'sa11', N'Anjusingh@20', N'Anju Singh')
GO
INSERT [dbo].[author_master_tbl] ([auther_id], [author_name]) VALUES (N'a001', N'Joseph Murphyyy')
INSERT [dbo].[author_master_tbl] ([auther_id], [author_name]) VALUES (N'a002', N'Dale Carnegie')
INSERT [dbo].[author_master_tbl] ([auther_id], [author_name]) VALUES (N'a003', N'Nepolean')
GO
INSERT [dbo].[book_master_tbl] ([book_id], [book_name], [genre], [author_name], [publisher_name], [publisher_date], [language], [edition], [book_cost], [no_of_pages], [book_description], [actual_stock], [current_stock], [book_img_link]) VALUES (N'b002      ', N'Nepolean Hill', N'Fiction,Non-Fiction', N'Joseph Murphyyy', N'p1', N'2026-03-28', N'English', N'1st', N'200       ', N'500       ', N'Demo Test', N'11        ', N'20        ', N'~/book_inventory/colorfulbooks.png')
GO
INSERT [dbo].[member_master_tbl] ([full_name], [dob], [contanct_no], [email], [state], [city], [pincode], [full_address], [member_id], [password], [account_status]) VALUES (N'Anju Singh', N'2026-03-03', N'7764352612', N'test@gmail.com', N'Uttar Pradesh', N'Noida', N'234283', N'Noida', N'12', N'123', N'active')
INSERT [dbo].[member_master_tbl] ([full_name], [dob], [contanct_no], [email], [state], [city], [pincode], [full_address], [member_id], [password], [account_status]) VALUES (N'Anju Singh', N'2026-03-02', N'9955103554', N'anjusingh20@gmail.com', N'Uttar Pradesh', N'Noida', N'201302', N'Noida', N'sa11', N'Anjusingh@20', N'pending')
GO
INSERT [dbo].[publisher_master_tbl] ([publisher_id], [publisher_name]) VALUES (N'p001      ', N'p1')
INSERT [dbo].[publisher_master_tbl] ([publisher_id], [publisher_name]) VALUES (N'p002      ', N'p2')
GO
USE [master]
GO
